@import "itmo_fonts/stylesheet.css";

* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    font-size: 20px;
    background-color: #2151a4;
    font-family: "ALS Schlange sans";
    color: white;
}

.tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.task {
    text-decoration: none;
    font-size: 30px;
    transition-duration: 2s;
}

.task {
    display: inline-block;
}

.task::after {
    content: "";
    width: 0px;
    height: 2px;
    display: block;
    background: transparent;
    transition: 800ms;
}

.task:hover::after {
    background: white;
    width: 100%;
}

.task + .task {
    margin-top: 10px;
}

.logo {
    height: 160px;
    position: relative;
    animation: logoMovementFromAbove 1s linear;
}

@keyframes logoMovementFromAbove {
    0% {
        bottom: 200px;
    }
    100% {
        bottom: 0px;
    }
}

.logo-container {
    display: flex;
    justify-content: center;
}

.header-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-info p {
    font-size: 40px;
}

.header-info .person {
    font-size: 25px;
    align-self: flex-end;
    padding-right: 60px;
}

.header-info > .person {
    margin-top: 30px;
}

.header-info > .person ~ .person {
    margin-top: 6px;
}

.divider {
    display: flex;
    justify-content: center;
    margin: 25px 0px;
}

.divider-line {
    width: 50%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
