@import "itmo_fonts/stylesheet.css";

* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    font-size: 20px;
    background-color: #2151a4;
    font-family: "ALS Schlange sans";
    color: white;
    overflow: hidden;
}

.tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.task {
    text-decoration: none;
    font-size: 30px;
    transition-duration: 2s;
}

.task {
    display: inline-block;
}

.task::after {
    content: "";
    width: 0px;
    height: 2px;
    display: block;
    background: transparent;
    transition: 800ms;
}

.task:hover::after {
    background: white;
    width: 100%;
}

.task + .task {
    margin-top: 10px;
}

.task-container {
    text-align: center;
}

.task-container + .task-container {
    margin-top: 10px;
}

.logo {
    height: 160px;
    position: relative;
    animation: logoMovementFromAbove 1s linear;
}

@keyframes logoMovementFromAbove {
    0% {
        bottom: 200px;
    }
    100% {
        bottom: 0px;
    }
}

.logo-container {
    display: flex;
    justify-content: center;
}

.header-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-info p {
    font-size: 40px;
}

.header-info .person {
    font-size: 25px;
    align-self: flex-end;
    padding-right: 60px;
}

.header-info > .person {
    margin-top: 30px;
}

.header-info > .person ~ .person {
    margin-top: 6px;
}

.divider {
    display: flex;
    justify-content: center;
    margin: 25px 0px;
}

.divider-line {
    width: 50%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.person {
    animation: personMovementFromRight 1s linear;
    position: relative;
}

@keyframes personMovementFromRight {
    0% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}

@media (max-width: 900px) {
    .header-info p {
        font-size: 16px;
    }

    .logo {
        height: 100px;
    }

    .header-info .person {
        font-size: 14px;
        padding-right: 15px;
    }

    .task {
        font-size: 25px;
    }
}

.semester-work-name {
    transition-duration: 0.5s;
    text-align: center;
}

.semester-work-name:hover {
    cursor: default;
}

.semester-work + .semester-work-name {
    opacity: 0;
}

.semester-work:hover + .semester-work-name {
    opacity: 100%;
}

.task-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-github-button {
    height: 30px;
    display: block;
}

.task-button {
    text-decoration: none;
}

.task-button + .task-button {
    margin-left: 10px;
}

.task-button:hover {
    cursor: pointer;
}

.task-container-1 {
    animation-delay: 1s;
    animation: 3s fadein1 linear;
}

.task-container-2 {
    animation: 3s fadein2 linear;
}

.task-container-3 {
    animation: 3s fadein3 linear;
}

.task-container-4 {
    animation: 3s fadein4 linear;
}

.task-container-5 {
    animation: 3s fadein5 linear;
}

.task-container-6 {
    animation: 3s fadein6 linear;
}

@keyframes fadein1 {
    0% {
        opacity: 0;
    }
    14% {
        opacity: 0;
    }
    28% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadein2 {
    0% {
        opacity: 0;
    }
    28% {
        opacity: 0;
    }
    42% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadein3 {
    0% {
        opacity: 0;
    }
    42% {
        opacity: 0;
    }
    56% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadein4 {
    0% {
        opacity: 0;
    }
    56% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadein5 {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    84% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadein6 {
    0% {
        opacity: 0;
    }
    84% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
